name: Build and deploy Docker image

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup timezone
        run: sudo timedatectl set-timezone 'Europe/Amsterdam'

      - name: Cache
        uses: actions/cache@v2.1.6
        with:
          path: |
            ./frontend/node_modules
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: v1-${{ hashFiles('**/build.gradle.kts', '**/gradle-wrapper.properties', '**/package-lock.json') }}
          restore-keys: v1-

      - name: Webpack build
        working-directory: ./frontend
        run: |
          npm install
          npm run build

      - name: Build distribution
        run: ./gradlew installDist

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: driesschulten/lastfm-apple-sync:latest