name: Run build & tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          ./frontend/node_modules
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: v1-${{ hashFiles('**/build.gradle.kts', '**/gradle-wrapper.properties', '**/package-lock.json') }}
        restore-keys: v1-

    - name: Webpack build
      working-directory: ./frontend
      run: npm run build

    - name: Tests with Grale
      run: ./gradlew test